@tailwind base;
@tailwind components;
@tailwind utilities;

/* 브라우저 기본 스타일 초기화 및 배경색 지정 */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23; /* Slate-950 색상 */
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
